## スカラー

- Int
- Float
- Complex
- String
- Bool
- None

In [1]:
1 + 3

4

In [2]:
1 + 3.0

4.0

In [3]:
3.0 + 3.8

6.8

In [4]:
print("Hello")

Hello

In [5]:
3

3

In [6]:
repr(3)

'3'

In [7]:
print(3)

3

In [8]:
(1 + 3j) * (1 - 3j)

(10+0j)

In [9]:
True

True

In [10]:
3 == 1

False

In [11]:
(3 == 1) or True

True

In [12]:
(3 == 1) and True

False

## コメント

In [13]:
# comment

## list, tuple

複数の数値・文字列をまとめて保存するには，リストやタプルを使う。

数値，文字列，リスト，タプルなどのデータをオブジェクトという。オブジェクトには名前をつけることができる。等号 `=` を用いる。代入と呼ばれることもある。

In [14]:
[1, 2, 3]  # リスト

[1, 2, 3]

In [15]:
(0, 1, 2)  # タプル

(0, 1, 2)

リストは定義後に内容を変更可能な（mutable）データ形式で，タプルは変更不可能なデータ形式。
タプルはあまり意識しなくてよい。

In [16]:
x = [1, 2, 3]
x[0]

1

In [17]:
x[1]

2

In [18]:
x[2]

3

In [19]:
x[3]

IndexError: list index out of range

In [20]:
x[-1], x[-2], x[-3]

(3, 2, 1)

リストやタプルは数学のベクトルの演算規則が適用できない。数値シミュレーションやデータを扱うのに適していない。

In [21]:
x = [1, 2, 3]
y = [-1, 3, 4]

x + y

[1, 2, 3, -1, 3, 4]

In [22]:
x * y

TypeError: can't multiply sequence by non-int of type 'list'

In [23]:
x - y

TypeError: unsupported operand type(s) for -: 'list' and 'list'

## for loop

\begin{align}
  x_t &= \rho x_{t-1}, \quad t = 1, 2, \dots, 10\\
  \rho&= 0.7\\
  x_0 &: \text{given}
\end{align}

In [24]:
x = [0] * 10

rho = 0.7
x[0] = 10

for t in range(1, 10):
    x[t] = rho * x[t-1]
    
x

[10,
 7.0,
 4.8999999999999995,
 3.4299999999999993,
 2.4009999999999994,
 1.6806999999999994,
 1.1764899999999996,
 0.8235429999999997,
 0.5764800999999997,
 0.4035360699999998]

## function

In [25]:
def my_double(x):
    return 2 * x

my_double(3)

6

In [26]:
my_double(4)

8

In [27]:
def CRRA(sigma):
    def utility(c):
        return c ** (1 - sigma) / (1 - sigma)
    return utility

u = CRRA(5)
u(2)

-0.015625

In [28]:
def BLS(B, C):
    def f(x, u):
        return B @ x + C @ u
    return f